.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.chatData {
  padding: 0.5em;
  border: 1px solid #c0c0c0;
  height: 220px;
  overflow: auto;
  text-align: left;
}
.chatBox {
  background: #FFF;
  right:0;
  height: 350px;
  padding: 0.5em;
  border: 0.5em solid #c0c0c0;
  width: 500px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
